<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.fastdevtest"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.fastdevtest.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_KEY_VALUE}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}"/>
    </application>

</manifest>
